.root {
    -fx-background-image: url("../images/BACKGROUND.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.green-bar  { -fx-accent: green;  }
.yellow-bar { -fx-accent: yellow; }
.orange-bar { -fx-accent: orange; }
.red-bar    { -fx-accent: red;    }